{% extends "restaurant_manager/base.html.twig" %}

{% block titie %}En attente{% endblock %}

{% block body %}
<style>
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 56;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 15px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
<div class="sidenav">
  <a href="#about">En attente</a>
  <a href="#services">En prépartion</a>
  <a href="#clients">Términer</a>
</div>
<div class="main">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum optio soluta quod, commodi molestiae quasi atque culpa consequuntur nemo voluptatibus illo animi recusandae quia tenetur nihil quis facilis corporis a cum eos voluptatem dignissimos nam consequatur eum! Ut aut dolore, adipisci ipsum accusantium animi fugit non excepturi? Pariatur, odio! Assumenda dolores cupiditate quos et odit illum iusto. Perferendis culpa blanditiis eius porro earum cupiditate eaque perspiciatis excepturi. Excepturi deleniti mollitia ducimus obcaecati quod sapiente iste, enim unde? Fuga, quas. Eligendi aperiam recusandae voluptates minima reprehenderit minus corporis, a molestias eos ut error quibusdam. Facere tempore, iure eveniet nam velit nesciunt! Sed, possimus corrupti? Veniam vitae quidem eaque suscipit totam! Fuga quaerat placeat, molestiae blanditiis optio asperiores eligendi architecto eius quasi reprehenderit dolorem. Dolor magnam tempora sapiente maxime totam? Sapiente nostrum nihil in iure! Perferendis, praesentium repellendus, itaque provident nobis nemo illum, tempora adipisci sint reiciendis consectetur debitis? Pariatur omnis sunt officia aut perferendis harum ducimus ipsa, aperiam nemo necessitatibus consequatur voluptatem, blanditiis quos dicta quo fuga. Quae numquam consequuntur, veritatis ipsum cupiditate explicabo necessitatibus accusamus sit beatae est ut ad qui. Qui obcaecati fugiat dicta deleniti quis omnis voluptatum esse doloremque? Dolores consequatur officiis voluptate officia facere porro cum mollitia recusandae tempore quo? Distinctio odit quae doloremque dolorem aut minima fuga iusto quisquam voluptatum, sapiente ab eum libero modi alias neque? Ipsam animi, ex minus ab aperiam deleniti accusamus dolor veritatis consequuntur eius aspernatur dolorem officia dolorum? Corporis, rem consectetur! Cumque neque perspiciatis voluptatum architecto voluptatibus similique recusandae dolor. Veritatis aut ullam rem nemo impedit? Odit beatae quisquam laboriosam animi? Non, ad quisquam dolorem voluptate exercitationem blanditiis quod voluptatum, pariatur voluptas, eaque similique nesciunt repudiandae qui et quam perspiciatis saepe. Perspiciatis corporis, soluta rem, dolorem qui illo illum id vel corrupti repellat dicta. Officiis id asperiores odio amet placeat? Reiciendis suscipit voluptatum quaerat incidunt reprehenderit a, maxime expedita necessitatibus fuga nemo aliquam sapiente exercitationem nam voluptatem animi odit, accusantium aspernatur omnis possimus, cum sequi officia fugit earum sunt! Dicta veritatis ipsam facere corporis impedit numquam excepturi debitis magnam, atque obcaecati voluptas animi ipsa aperiam quasi explicabo voluptatum. Ullam, perspiciatis? Dignissimos nihil esse suscipit reprehenderit incidunt nulla repudiandae minima. Vel natus facilis quis quod? Omnis libero dolores alias a voluptatum ea nobis vitae repellendus aspernatur impedit dolor obcaecati non debitis officia, iste accusantium dolorum sunt. Suscipit qui aliquam beatae tenetur provident aspernatur eum necessitatibus autem nostrum error. Eaque repellat perferendis ipsum, soluta tenetur aspernatur vero, architecto culpa aliquid perspiciatis tempore officiis repudiandae fuga numquam exercitationem atque harum fugit accusamus vitae explicabo consequatur qui nisi. Dolore sit saepe a provident distinctio. Doloremque, repudiandae! Nihil quos incidunt veniam cumque. Assumenda sed ad, odio odit non labore, aliquam exercitationem vitae unde veniam distinctio iusto iste quaerat nulla asperiores reprehenderit. Soluta numquam laudantium esse amet eveniet nisi odio. Quos similique reiciendis aspernatur repellat maiores nostrum atque molestias. Hic perferendis est aliquid autem, obcaecati corporis animi? Iure delectus, neque nulla veniam doloribus saepe natus eos nostrum temporibus odit quibusdam similique sint quia nam illo non quod reiciendis quidem voluptates officiis eveniet distinctio debitis? Qui illo nobis laboriosam quos, incidunt maxime in voluptatem quis labore doloremque blanditiis ducimus cumque quam. Recusandae ad, assumenda non ipsa odit quo corrupti laboriosam esse laudantium fuga, provident excepturi error illo quae sunt nulla in ipsum perspiciatis dolores dolorem numquam facere. Porro vitae eum, minus corrupti est aliquam sapiente, omnis voluptatem, repellendus quo accusantium iusto dolor nemo maxime vel laudantium expedita. Iure incidunt aliquid soluta, minima, error deserunt maiores cum ipsam laborum officia adipisci, vitae dolorum a culpa quos aut debitis maxime mollitia sit molestias doloremque earum illo! Similique dicta, ut, debitis doloribus eaque, cum voluptatum dignissimos pariatur recusandae laudantium vero sequi minima nulla minus ab tenetur nobis ullam quisquam odit sapiente aliquid illo corrupti aut nemo! Accusamus in consectetur fugit quo? Qui sequi eius nemo praesentium quibusdam aliquid, ullam, optio maxime corrupti saepe explicabo laudantium ad magnam molestiae neque. Quibusdam nobis, quod harum at dolor, quae quaerat neque magni debitis modi aut officiis distinctio aliquid reiciendis culpa? Assumenda deserunt dolores quasi obcaecati fugiat, nemo dignissimos molestias tenetur, delectus voluptatibus nisi ducimus blanditiis necessitatibus repellendus. Asperiores, sint velit illum tempora iusto eveniet laboriosam iure. Dolorem, atque aliquam. Nesciunt molestiae labore dignissimos esse nihil repudiandae reiciendis repellat quibusdam maxime ducimus doloribus eum, quas at praesentium exercitationem autem eius dicta minus porro. Libero doloribus facilis amet nulla ipsam numquam, officiis nihil unde, accusantium, alias aperiam blanditiis reiciendis dolor doloremque nemo officia commodi temporibus possimus dolorem dolorum sit laudantium. Pariatur minima molestiae maxime. Eos aliquam cumque doloremque architecto nisi iusto magnam aspernatur exercitationem, quisquam reprehenderit ab laboriosam placeat nobis modi incidunt fugiat atque, eaque maiores facere saepe aperiam iure et. Provident autem illum soluta nemo aperiam suscipit? Id sequi nobis consequuntur esse non fugit tempora, deserunt rem accusamus laborum cupiditate, voluptate labore aliquam explicabo. Suscipit rerum nesciunt incidunt vero tempore sed laborum omnis praesentium voluptatem possimus dolorem expedita accusantium at dolor quod repellendus dolores modi odit nam ex a, totam id. Id quisquam aliquid officiis corporis nulla mollitia harum placeat tempore, cumque dolores debitis cupiditate nisi excepturi hic doloribus velit esse accusamus ex dolorem repudiandae, ducimus doloremque dolorum voluptatum modi. Assumenda amet unde magnam nulla dolores. Dolorem ullam vitae fugit quasi? Aut odit labore saepe iure qui sequi perferendis rerum sed laborum repellendus, deserunt architecto dignissimos accusamus nostrum, id nam! Asperiores quaerat fugit, nesciunt, voluptates nisi animi non, dicta inventore ad temporibus blanditiis? Beatae quod natus obcaecati, et rem ducimus error culpa voluptates incidunt nulla velit cum architecto aliquam blanditiis voluptas, non quidem illo inventore quisquam libero. Illum recusandae soluta modi aliquid nam consequuntur ullam eaque asperiores earum illo. Ducimus et unde harum sed vero incidunt temporibus quae. Error molestias omnis voluptatum neque inventore ipsum illum maiores quaerat voluptate rem, temporibus quis maxime rerum? Molestiae illum, magni optio quod illo ipsa id tenetur quidem accusamus libero adipisci nam tempore officia aperiam ea blanditiis unde laboriosam voluptas dolorem velit qui ex quia vitae voluptatibus! Quod accusantium magni quasi laborum, veritatis fugit rem voluptatum optio dicta omnis!
  </p>
</div>
{% endblock %}

{% block javascripts %}
  <script>
   
  </script>
{% endblock %}