{% extends "restaurant_manager/base.html.twig" %}

{% block titie %}En attente
{% endblock %}

{% block body %}
	<style>
		body {
			margin: 0;
            padding: 0;
		}
        .grid{
            height: 100vh;
            display: grid;
            grid-template-columns: 1fr 2fr 3fr;
            grid-gap: 20px;
        }

        .sidebar{
           
        }

        .orders{
            /* background-color: cornflowerblue; */
            overflow-y: auto;
        }

        .show{
            /* background-color: deeppink; */
            overflow-y: auto;
        }

		.sidenav {
			height: 100%;
			width: 160px;
			position: fixed;
			z-index: 1;
			top: 56;
			left: 0;
			background-color: #111;
			overflow-x: hidden;
			padding-top: 20px;
		}

		.sidenav a {
			padding: 6px 8px 6px 16px;
			text-decoration: none;
			font-size: 20px;
			color: #818181;
			display: block;
		}

		.sidenav a:hover {
			color: #f1f1f1;
		}

		.main {
			margin-left: 160px; /* Same as the width of the sidenav */
			font-size: 15px; /* Increased text to enable scrolling */
			padding: 0 10px;
		}

		@media screen and(max-height: 450px) {
			.sidenav {
				padding-top: 15px;
			}
			.sidenav a {
				font-size: 18px;
			}
		}
	</style>

    <div class="grid">
        <!-- <div class="sidenav">
            <a href="#about">En attente</a>
            <a href="#services">En prépartion</a>
            <a href="#clients">Términer</a>
        </div> -->
        <div class="sidebar bg-light">
            <ul class="list-unstyled">
                <li class="mt-5">
                    <button class="btn btn-primary btn-block" type="button" id="waitingOrders">En attente(3)</button>
                </li>
                <li class="mt-5">
                    <button class="btn btn-primary btn-block" type="button" id="inPreparationOrders">En prépartion(2)</button>
                </li>
                <li class="mt-5">
                    <button class="btn btn-primary btn-block" type="button" id="finishedOrders">Términer(4)</button>
                </li>
            </ul>
        </div>
        <div class="orders">
            <h1 class="text-center h2 mb-3 mt-2">Les commandes</h1>
            {% for i in 1..2 %}
                    <!-- <li> -->
                        <div class="card show-order mb-4" style="width: auto;">
                            <div class="card-header">
                                00{{i}}
                            </div>
                            <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{random(1,4)}}x {{ random(['Menu big tasty', 'Menu big mac', 'Menu big chicken tasty']) }}</li>
                            <li class="list-group-item">{{random(1,3)}}x Mc fleury</li>
                            </ul>
                            <div class="card-footer">
                                <span class="float-right text-danger">28-07-20 15h:45</span>
                            </div>
                        </div>
                    <!-- </li> -->
                {% endfor %}
        </div>
        <div class="show">
            <h1 class="text-center h2 mb-3 mt-2">Aprecus</h1>
            <h2 class="h4">Numéro de commande: 057 <span class="float-right">Statut: en attente</span></h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Article</th>
                        <th class="text-center">Qté</th>
                        <th>Options</th>
                        <th class="text-center">Prix</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in 1..3 %}
                    <tr>
                        <td>Menu Big Tasy</td>
                        <td class="text-center" >1</td>
                        <td>Fritte large + Fanta + suplements(sauce césar, salade, tomate)</td>
                        <td class="text-center" >2 500 Fc</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h2 class="h4 mt-4 mr-2">Total de la commande : <span class="float-right">7 500 Fc</span></h2>
            <div class="d-flex justify-content-around">
                <button class="btn btn-danger" type="button">Refuser</button>
                <button class="btn btn-success" type="button">Accepter</button>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
	<script>
        $(function(){

            //Recuperer les nouveau commandes de l'utilisateur courant 
            $('#waitingOrders').click(function (e) { 
                
            });

            //Recuperer les commandes en cours de l'utilisateur courant 
            $('#inPreparationOrders').click(function (e) { 
                
            });

            //Recuperer les commandes terminé de l'utilisateur courant 
            $('#finishedOrders').click(function (e) { 
                
            });
        });
    </script>
{% endblock %}
