<div class="sidebar bg-light">
	<ul class="list-unstyled">
		<li class="mt-5">
			<button class="btn btn-primary btn-block" type="button" id="waitingOrders">En attente(3)</button>
		</li>
		<li class="mt-5">
			<button class="btn btn-primary btn-block" type="button" id="inPreparationOrders">En prépartion(2)</button>
		</li>
		<li class="mt-5">
			<button class="btn btn-primary btn-block" type="button" id="finishedOrders">Términer(4)</button>
		</li>
	</ul>
</div>
