<div class="sidebar bg-light">
	<ul class="list-unstyled">
		<li class="mt-5">
			<a href="{{path('restaurant_manager_order_waiting')}}" class="btn btn-primary btn-block" id="waitingOrders">En attente(3)</a>
		</li>
		<li class="mt-5">
			<a href="{{path('restaurant_manager_order_in_preparation')}}" class="btn btn-primary btn-block" type="button" id="inPreparationOrders">En prépartion(2)</a>
		</li>
		<li class="mt-5">
			<a href="{{path('restaurant_manager_order_finished')}}" class="btn btn-primary btn-block" type="button" id="finishedOrders">Términer(4)</a>
		</li>
	</ul>
</div>
