{% extends 'base.html.twig' %}
{% set sectionExist = form.vars.value.id ? true : false %}

{% block title %}Nouvelle section{% endblock %}

{% block body %}
<div class="container">
    <h1>Information sur la section</h1>
    {% include "section/_formSection.html.twig" with {'submitBtnLabel': "créer la section"}  %}
</div>
{% endblock %}